.shop-container{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.pagination{
position: absolute;
bottom: 20px;

}
.page-btn{
    margin-right: 10px;
padding: 5px;
width: 35px;
background-color: rgb(226, 219, 215);
border: none;
border-radius: 3px;
color: rgb(32, 31, 31);
}
.selected-page-button{
    margin-right: 10px;
padding: 5px;
width: 35px;
background-color: rgb(196, 114, 33);
border: none;
border-radius: 3px;
color: rgb(247, 247, 247);
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}